@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/*======================= Body and background shapes ====================*/
.tc_home {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.oval {
    position: absolute;
    top: 0;
    width: 17.7vw;
    height: 15vw;
    opacity: 0.04;
    background-color: #388af7;
    border-bottom-right-radius: 100%;
    z-index: -1;
}

.rectangle {
    position: absolute;
    top: 0;
    left: 55.88vw;
    width: 44.12vw;
    height: 64.5vw;
    background-color: #f7faff;
    z-index: -1;
}

.squares {
    position: absolute;
    top: 27vw;
    z-index: -1;
}

.square {
    width: 12px;
    height: 12px;
    opacity: 0.17;
    background-color: #388af7;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*========================= Navbar =============================*/
nav {
    margin-left: 10.9vw;
    margin-top: 1.9vw;
    margin-right: 10.2vw;
    margin-bottom: 1.9vw;
}

.navbar-light .navbar-nav .nav-link {  
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.87px;
    color: #bfc5d2;
    margin-left: 2.7vw;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-item.contact_us {
    border-radius: 10.7px;
    border: solid 1.3px #7762d1;
}

.navbar-light .navbar-nav .nav-link.contact_us {  
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.49px;
    color: #388af7;
}

.group-11 {
    width: 228px;
    height: 81px;
    object-fit: contain;  
}

@media(max-width: 768px) {
    nav {
        margin-left: 4vw;
        margin-top: 1vw;
        margin-right: 2vw;
        margin-bottom: 1vw;
    }

    .navbar-light .navbar-nav .nav-link {  
        font-size: 16px;
    }

    .navbar-light .navbar-nav .nav-link.contact_us {  
        font-size: 16px;
    }

    .group-11 {
        width: 171px;
        height: 60px;
    }
}

/*=========================== page ===========================*/
.content {
    z-index: 1;
    margin-left: 10.9vw;
    margin-right: 6vw;
}

@media(max-width: 768px) {
    .content {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

/*========================== Landing =========================*/
.group-2 {
    object-fit: contain;
}

.bring-your-business {
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #2c2c2c;
}

.tradeChat-is-a-busin {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.8px;
    color: #000000;
    margin-top: 2.1vw;
}

.get-started-button {
    margin-top: 2.1vw;
    font-size: 26.7px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.49px;
    color: #ffffff;  
    border-radius: 8.9px;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #7662d1;
    width: 303px;
    height: 79px;
}

.compatible-with {
    opacity: 0.3;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.67px;
    color: #000000;
    margin-top: 2.8vw;
}

.group-6 {
    width: 120px;
    height: 39.8px;
    object-fit: contain;
    opacity: 0.3;
}
@media(max-width: 768px) {
    .bring-your-business {
        font-size: 40px;
    }

    .tradeChat-is-a-busin {
        font-size: 20px;
        margin-top: 12px;
    }

    .get-started-button {
        width: 250px;
        height: 60px;
        font-size: 22px;
    }

    .compatible-with {
        margin-top: 28px;
    }
}

/*====================== Increase your connectivity ================*/
